<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Add icon</title>
<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
</head>
<body>
	<div layout:fragment="content" class="container">
		<h2>Add Icon</h2>
		<div class="input-group mb-3">


			<form th:object="${icon}" th:action="@{../saveicon}" action="#"
				method="post">
				<input type="hidden" th:field="*{iconid}" class="form-control" />

				<div style="clear: both; display: block; height: 10px;">
					<label for="name">Name</label> <input type="text" id="name"
						th:field="*{name}" class="form-control" />
				</div>

				<div style="clear: both; display: block; height: 10px;">
					<label for="file">File</label> <input type="text" id="file"
						th:field="*{file}" class="form-control" />
				</div>

				<div style="clear: both; display: block; height: 10px;">

					<input type="submit" class="btn btn-default" value="save"></input>
				</div>
			</form>
		</div>
	</div>

</body>
</html>