<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}">
<head>
<title>Uncopyrighted materials</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="jumbotron">
			<h3 th:inline="text">Welcome
				[[${#httpServletRequest.remoteUser}]].</h3>


			<h1>Uncopyrighted materials</h1>
			<p>This page has different uncopyrighted materials. Music,
				pictures and videos. All materials are ready for download and safe
				use.</p>
		</div>

		<div class="col-md-4" style="padding: 20px 0">
			<form th:action="@{/logout}" method="post">
				<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
			</form>
		</div>
	</div>
</body>
</html>