<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{fragments/main_layout}"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Uncopyrighted materials</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="jumbotron">
			<h3 th:inline="text">Welcome
				[[${#httpServletRequest.remoteUser}]].</h3>


			<h1>Uncopyrighted materials</h1>
			<p>This page has different uncopyrighted materials. Music,
				pictures and icons. All materials are ready for download and safe to
				use for non commercial properties.</p>
		</div>


	</div>
</body>
</html>