<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
	layout:decorate="~{fragments/main_layout}"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<title>Pictures</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="jumbotron">

			<h3>Uncopyrighted pictures</h3>


			<table class="table table-striped">
				<tbody>
					<tr>
						<th>Name</th>
						<th>subject</th>
						<th>download</th>
					
						

					</tr>
					<tr th:each="picture : ${pictures}">
						<td th:text="${picture.name}"></td>
						<td th:text="${picture.subject}"></td>
						<td th:text="${picture.file}"></td>
						
						
					</tr>


				</tbody>

			</table>

		</div>


	</div>


	</div>

</body>
</html>